<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link type="text/css" rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
  <%- include partials/_header %>
  <a href="/shorten">Shorten</a> a new URL
  <ol>
    <% Object.keys(urls).forEach(key => { %>
    <li><%= key %>: <%= urls[key] %></li>
    <form class="form-inline" method="POST" id="delete" action="/urls/<%= key %>/delete">
      <button class="btn btn-default btn-xs" form="delete" type="submit">x</button>
    </form>
    <% }) %>
  </ol>
</body>
</html>