<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link type="text/css" rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
  <div class="container">
  <div class="col-m-3">&nbsp;</div>
  <div class="col-m-6">
  <form class="form-horizontal" method="post" action="">
    <fieldset>
      <div id="legend">
        <legend class="">Login</legend>
      </div>
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-default" type="submit" style="margin-top: 15px;">Login</button>
        </div>
      </div>
    </fieldset>
  </form>
  </div>
  <div class="col-m-3">&nbsp;</div>
  </div>
</body>
</html>